--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg120+1)
-- Dumped by pg_dump version 17.2 (Debian 17.2-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Fecha; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Fecha" (
    id integer NOT NULL,
    fecha timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Fecha" OWNER TO postgres;

--
-- Name: Fecha_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Fecha_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Fecha_id_seq" OWNER TO postgres;

--
-- Name: Fecha_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Fecha_id_seq" OWNED BY public."Fecha".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: anuncio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.anuncio (
    id integer NOT NULL,
    titulo text NOT NULL,
    contenido text NOT NULL,
    "imagenUrl" text NOT NULL,
    id_fecha_creacion integer NOT NULL,
    id_estado integer NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.anuncio OWNER TO postgres;

--
-- Name: anuncio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.anuncio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.anuncio_id_seq OWNER TO postgres;

--
-- Name: anuncio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.anuncio_id_seq OWNED BY public.anuncio.id;


--
-- Name: categoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoria (
    id integer NOT NULL,
    nombre_categoria text
);


ALTER TABLE public.categoria OWNER TO postgres;

--
-- Name: categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_id_seq OWNER TO postgres;

--
-- Name: categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoria_id_seq OWNED BY public.categoria.id;


--
-- Name: cedula_deportiva; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cedula_deportiva (
    id integer NOT NULL,
    id_fecha_creacion_deportiva integer NOT NULL,
    estado_cedula integer NOT NULL,
    id_torneo integer NOT NULL,
    id_fecha_actualizacion integer NOT NULL,
    id_equipo integer NOT NULL,
    foto_base text
);


ALTER TABLE public.cedula_deportiva OWNER TO postgres;

--
-- Name: cedula_deportiva_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cedula_deportiva_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cedula_deportiva_id_seq OWNER TO postgres;

--
-- Name: cedula_deportiva_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cedula_deportiva_id_seq OWNED BY public.cedula_deportiva.id;


--
-- Name: equipo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipo (
    id integer NOT NULL,
    nom_equipo text NOT NULL,
    documento text NOT NULL,
    categoria integer
);


ALTER TABLE public.equipo OWNER TO postgres;

--
-- Name: equipo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.equipo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipo_id_seq OWNER TO postgres;

--
-- Name: equipo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.equipo_id_seq OWNED BY public.equipo.id;


--
-- Name: estado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estado (
    id integer NOT NULL,
    nombre_estado text NOT NULL,
    descripcion text
);


ALTER TABLE public.estado OWNER TO postgres;

--
-- Name: estado_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estado_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estado_id_seq OWNER TO postgres;

--
-- Name: estado_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estado_id_seq OWNED BY public.estado.id;


--
-- Name: lugar_encuentro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lugar_encuentro (
    id integer NOT NULL,
    nombre text,
    direccion text
);


ALTER TABLE public.lugar_encuentro OWNER TO postgres;

--
-- Name: lugar_encuentro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lugar_encuentro_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lugar_encuentro_id_seq OWNER TO postgres;

--
-- Name: lugar_encuentro_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lugar_encuentro_id_seq OWNED BY public.lugar_encuentro.id;


--
-- Name: notas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notas (
    id integer NOT NULL,
    nombre text NOT NULL,
    descripcion text
);


ALTER TABLE public.notas OWNER TO postgres;

--
-- Name: notas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notas_id_seq OWNER TO postgres;

--
-- Name: notas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notas_id_seq OWNED BY public.notas.id;


--
-- Name: permiso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permiso (
    id integer NOT NULL,
    nombre_permiso text NOT NULL,
    descripcion text
);


ALTER TABLE public.permiso OWNER TO postgres;

--
-- Name: permiso_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permiso_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permiso_id_seq OWNER TO postgres;

--
-- Name: permiso_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permiso_id_seq OWNED BY public.permiso.id;


--
-- Name: programacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.programacion (
    id integer NOT NULL,
    rama text NOT NULL,
    fecha_encuentro integer NOT NULL,
    id_equipo_local integer NOT NULL,
    id_equipo_visitante integer NOT NULL,
    lugar_encuentro integer NOT NULL,
    cronograma_juego text NOT NULL,
    id_torneo integer NOT NULL
);


ALTER TABLE public.programacion OWNER TO postgres;

--
-- Name: programacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.programacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.programacion_id_seq OWNER TO postgres;

--
-- Name: programacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.programacion_id_seq OWNED BY public.programacion.id;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol (
    id integer NOT NULL,
    nombre_rol text NOT NULL,
    descripcion text
);


ALTER TABLE public.rol OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_id_seq OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rol_id_seq OWNED BY public.rol.id;


--
-- Name: rol_x_permiso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol_x_permiso (
    id_rol integer NOT NULL,
    id_permiso integer NOT NULL
);


ALTER TABLE public.rol_x_permiso OWNER TO postgres;

--
-- Name: torneos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.torneos (
    id integer NOT NULL,
    nombre_torneo text
);


ALTER TABLE public.torneos OWNER TO postgres;

--
-- Name: torneos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.torneos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.torneos_id_seq OWNER TO postgres;

--
-- Name: torneos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.torneos_id_seq OWNED BY public.torneos.id;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    documento text NOT NULL,
    nombres text NOT NULL,
    apellido text NOT NULL,
    email text NOT NULL,
    info_perfil text,
    num_contacto text,
    nom_user text NOT NULL,
    pass text NOT NULL,
    id_rol integer NOT NULL,
    estado_id integer NOT NULL,
    id_fecha_nacimiento integer,
    id_fecha_registro integer
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_x_equipo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario_x_equipo (
    id_equipo integer NOT NULL,
    documento_user text NOT NULL,
    id_nota integer,
    id_estado integer
);


ALTER TABLE public.usuario_x_equipo OWNER TO postgres;

--
-- Name: Fecha id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Fecha" ALTER COLUMN id SET DEFAULT nextval('public."Fecha_id_seq"'::regclass);


--
-- Name: anuncio id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anuncio ALTER COLUMN id SET DEFAULT nextval('public.anuncio_id_seq'::regclass);


--
-- Name: categoria id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id SET DEFAULT nextval('public.categoria_id_seq'::regclass);


--
-- Name: cedula_deportiva id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva ALTER COLUMN id SET DEFAULT nextval('public.cedula_deportiva_id_seq'::regclass);


--
-- Name: equipo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipo ALTER COLUMN id SET DEFAULT nextval('public.equipo_id_seq'::regclass);


--
-- Name: estado id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado ALTER COLUMN id SET DEFAULT nextval('public.estado_id_seq'::regclass);


--
-- Name: lugar_encuentro id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lugar_encuentro ALTER COLUMN id SET DEFAULT nextval('public.lugar_encuentro_id_seq'::regclass);


--
-- Name: notas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notas ALTER COLUMN id SET DEFAULT nextval('public.notas_id_seq'::regclass);


--
-- Name: permiso id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso ALTER COLUMN id SET DEFAULT nextval('public.permiso_id_seq'::regclass);


--
-- Name: programacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion ALTER COLUMN id SET DEFAULT nextval('public.programacion_id_seq'::regclass);


--
-- Name: rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol ALTER COLUMN id SET DEFAULT nextval('public.rol_id_seq'::regclass);


--
-- Name: torneos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.torneos ALTER COLUMN id SET DEFAULT nextval('public.torneos_id_seq'::regclass);


--
-- Data for Name: Fecha; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: anuncio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categoria (id, nombre_categoria) FROM stdin;
2	2011 M
1	2010 M
\.


--
-- Data for Name: cedula_deportiva; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cedula_deportiva (id, id_fecha_creacion_deportiva, estado_cedula, id_torneo, id_fecha_actualizacion, id_equipo, foto_base) FROM stdin;
\.


--
-- Data for Name: equipo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.equipo (id, nom_equipo, documento, categoria) FROM stdin;
14	ASOF├ÜTBOL	1	1
19	FORMADORES	10	2
7	ONCE DEPORTIVO	4123	1
8	CAFETEROS	1025	2
20	COLSE├æORA	10256	1
11	TALENTOS	102	1
10	LA CANTERA	21	1
\.


--
-- Data for Name: estado; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estado (id, nombre_estado, descripcion) FROM stdin;
1	Activo	Usuario o elemento activo en el sistema
3	Inactivo	Usuario o elemento inactivo en el sistema
4	Eliminarlo	solo porque si
5	Penalizado	Usuario jugador penalizado
\.


--
-- Data for Name: lugar_encuentro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lugar_encuentro (id, nombre, direccion) FROM stdin;
1	CANCHA AUXILIAR	carrera 6d #52-10
\.


--
-- Data for Name: notas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notas (id, nombre, descripcion) FROM stdin;
1	Expulsado por conducta	se expulsa por conducta inapropiada durante el juego
\.


--
-- Data for Name: permiso; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: programacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.programacion (id, rama, fecha_encuentro, id_equipo_local, id_equipo_visitante, lugar_encuentro, cronograma_juego, id_torneo) FROM stdin;
4	M	19	7	14	1	fecha 1	1
5	M	3	10	19	1	fecha 2	1
6	M	25	20	11	1	fecha 3	1
\.


--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rol (id, nombre_rol, descripcion) FROM stdin;
1	Invitado	Solo lectura para invitado
2	Admin	Solo full permisos 
7	AdminJugador	Gestiona todos los permisos y puede ser jugador
\.


--
-- Data for Name: rol_x_permiso; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: torneos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.torneos (id, nombre_torneo) FROM stdin;
1	prueba torneo
2	facil de crear
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuario_x_equipo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuario_x_equipo (id_equipo, documento_user, id_nota, id_estado) FROM stdin;
14	4123	\N	\N
14	10256	\N	\N
14	1025	\N	\N
19	1	\N	\N
7	4123	\N	\N
7	10256	\N	\N
7	1025	\N	\N
7	102	\N	\N
8	4123	\N	\N
20	21	\N	\N
11	4123	\N	\N
11	1025	\N	\N
10	1025	\N	\N
10	102	\N	\N
10	10	\N	\N
\.


--
-- Name: Fecha_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Fecha_id_seq"', 25, true);


--
-- Name: anuncio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.anuncio_id_seq', 13, true);


--
-- Name: categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_id_seq', 2, true);


--
-- Name: cedula_deportiva_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cedula_deportiva_id_seq', 1, false);


--
-- Name: equipo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.equipo_id_seq', 22, true);


--
-- Name: estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estado_id_seq', 5, true);


--
-- Name: lugar_encuentro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lugar_encuentro_id_seq', 1, true);


--
-- Name: notas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notas_id_seq', 13, true);


--
-- Name: permiso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permiso_id_seq', 70, true);


--
-- Name: programacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.programacion_id_seq', 6, true);


--
-- Name: rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rol_id_seq', 7, true);


--
-- Name: torneos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.torneos_id_seq', 2, true);


--
-- Name: Fecha Fecha_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Fecha"
    ADD CONSTRAINT "Fecha_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: anuncio anuncio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anuncio
    ADD CONSTRAINT anuncio_pkey PRIMARY KEY (id);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id);


--
-- Name: cedula_deportiva cedula_deportiva_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva
    ADD CONSTRAINT cedula_deportiva_pkey PRIMARY KEY (id);


--
-- Name: equipo equipo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipo
    ADD CONSTRAINT equipo_pkey PRIMARY KEY (id);


--
-- Name: estado estado_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado
    ADD CONSTRAINT estado_pkey PRIMARY KEY (id);


--
-- Name: lugar_encuentro lugar_encuentro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lugar_encuentro
    ADD CONSTRAINT lugar_encuentro_pkey PRIMARY KEY (id);


--
-- Name: notas notas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notas
    ADD CONSTRAINT notas_pkey PRIMARY KEY (id);


--
-- Name: permiso permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permiso
    ADD CONSTRAINT permiso_pkey PRIMARY KEY (id);


--
-- Name: programacion programacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion
    ADD CONSTRAINT programacion_pkey PRIMARY KEY (id);


--
-- Name: rol rol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_pkey PRIMARY KEY (id);


--
-- Name: rol_x_permiso rol_x_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_x_permiso
    ADD CONSTRAINT rol_x_permiso_pkey PRIMARY KEY (id_rol, id_permiso);


--
-- Name: torneos torneos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.torneos
    ADD CONSTRAINT torneos_pkey PRIMARY KEY (id);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (documento);


--
-- Name: usuario_x_equipo usuario_x_equipo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario_x_equipo
    ADD CONSTRAINT usuario_x_equipo_pkey PRIMARY KEY (id_equipo, documento_user);


--
-- Name: Fecha_fecha_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Fecha_fecha_key" ON public."Fecha" USING btree (fecha);


--
-- Name: anuncio_titulo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX anuncio_titulo_key ON public.anuncio USING btree (titulo);


--
-- Name: equipo_documento_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX equipo_documento_key ON public.equipo USING btree (documento);


--
-- Name: equipo_nom_equipo_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX equipo_nom_equipo_key ON public.equipo USING btree (nom_equipo);


--
-- Name: estado_nombre_estado_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX estado_nombre_estado_key ON public.estado USING btree (nombre_estado);


--
-- Name: notas_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX notas_nombre_key ON public.notas USING btree (nombre);


--
-- Name: permiso_nombre_permiso_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX permiso_nombre_permiso_key ON public.permiso USING btree (nombre_permiso);


--
-- Name: rol_nombre_rol_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX rol_nombre_rol_key ON public.rol USING btree (nombre_rol);


--
-- Name: usuario_documento_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX usuario_documento_key ON public.usuario USING btree (documento);


--
-- Name: anuncio anuncio_id_estado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anuncio
    ADD CONSTRAINT anuncio_id_estado_fkey FOREIGN KEY (id_estado) REFERENCES public.estado(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: anuncio anuncio_id_fecha_creacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anuncio
    ADD CONSTRAINT anuncio_id_fecha_creacion_fkey FOREIGN KEY (id_fecha_creacion) REFERENCES public."Fecha"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cedula_deportiva cedula_deportiva_estado_cedula_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva
    ADD CONSTRAINT cedula_deportiva_estado_cedula_fkey FOREIGN KEY (estado_cedula) REFERENCES public.estado(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: cedula_deportiva cedula_deportiva_id_equipo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva
    ADD CONSTRAINT cedula_deportiva_id_equipo_fkey FOREIGN KEY (id_equipo) REFERENCES public.equipo(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cedula_deportiva cedula_deportiva_id_fecha_actualizacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva
    ADD CONSTRAINT cedula_deportiva_id_fecha_actualizacion_fkey FOREIGN KEY (id_fecha_actualizacion) REFERENCES public."Fecha"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cedula_deportiva cedula_deportiva_id_fecha_creacion_deportiva_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva
    ADD CONSTRAINT cedula_deportiva_id_fecha_creacion_deportiva_fkey FOREIGN KEY (id_fecha_creacion_deportiva) REFERENCES public."Fecha"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cedula_deportiva cedula_deportiva_id_torneo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cedula_deportiva
    ADD CONSTRAINT cedula_deportiva_id_torneo_fkey FOREIGN KEY (id_torneo) REFERENCES public.torneos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: equipo equipo_categoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipo
    ADD CONSTRAINT equipo_categoria_fkey FOREIGN KEY (categoria) REFERENCES public.categoria(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: equipo equipo_documento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipo
    ADD CONSTRAINT equipo_documento_fkey FOREIGN KEY (documento) REFERENCES public.usuario(documento) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: programacion programacion_fecha_encuentro_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion
    ADD CONSTRAINT programacion_fecha_encuentro_fkey FOREIGN KEY (fecha_encuentro) REFERENCES public."Fecha"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: programacion programacion_id_equipo_local_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion
    ADD CONSTRAINT programacion_id_equipo_local_fkey FOREIGN KEY (id_equipo_local) REFERENCES public.equipo(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: programacion programacion_id_equipo_visitante_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion
    ADD CONSTRAINT programacion_id_equipo_visitante_fkey FOREIGN KEY (id_equipo_visitante) REFERENCES public.equipo(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: programacion programacion_id_torneo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion
    ADD CONSTRAINT programacion_id_torneo_fkey FOREIGN KEY (id_torneo) REFERENCES public.torneos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: programacion programacion_lugar_encuentro_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programacion
    ADD CONSTRAINT programacion_lugar_encuentro_fkey FOREIGN KEY (lugar_encuentro) REFERENCES public.lugar_encuentro(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: rol_x_permiso rol_x_permiso_id_permiso_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_x_permiso
    ADD CONSTRAINT rol_x_permiso_id_permiso_fkey FOREIGN KEY (id_permiso) REFERENCES public.permiso(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rol_x_permiso rol_x_permiso_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol_x_permiso
    ADD CONSTRAINT rol_x_permiso_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.rol(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuario usuario_estado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_estado_id_fkey FOREIGN KEY (estado_id) REFERENCES public.estado(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: usuario usuario_id_fecha_nacimiento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_fecha_nacimiento_fkey FOREIGN KEY (id_fecha_nacimiento) REFERENCES public."Fecha"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuario usuario_id_fecha_registro_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_fecha_registro_fkey FOREIGN KEY (id_fecha_registro) REFERENCES public."Fecha"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuario usuario_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.rol(id) ON DELETE CASCADE;


--
-- Name: usuario_x_equipo usuario_x_equipo_documento_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario_x_equipo
    ADD CONSTRAINT usuario_x_equipo_documento_user_fkey FOREIGN KEY (documento_user) REFERENCES public.usuario(documento) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuario_x_equipo usuario_x_equipo_id_equipo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario_x_equipo
    ADD CONSTRAINT usuario_x_equipo_id_equipo_fkey FOREIGN KEY (id_equipo) REFERENCES public.equipo(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuario_x_equipo usuario_x_equipo_id_estado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario_x_equipo
    ADD CONSTRAINT usuario_x_equipo_id_estado_fkey FOREIGN KEY (id_estado) REFERENCES public.estado(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: usuario_x_equipo usuario_x_equipo_id_nota_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario_x_equipo
    ADD CONSTRAINT usuario_x_equipo_id_nota_fkey FOREIGN KEY (id_nota) REFERENCES public.notas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

